@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(210, 250, 214);
  border: 1px solid black;
}
.logo {
  width: 100px;
  margin: 10px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
}
.nav-items ul li {
  padding: 10px;
  margin: 10px;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.hello {
  background-color: pink;
}
.res-card {
  margin: 10px;
  width: 215px;
  padding: 5px;
  border: 2px solid transparent;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card:hover {
  cursor: pointer;
  border: 2px solid black;
}
.res-logo {
  width: 100%;
}

.body {
  background-color: rgb(160, 223, 223);
}
.shimmer-card {
  margin: 20px;
  width: 205px;
  height: 400px;
  background-color: #f0f0f0;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.login {
  padding: 0px 20px;
  cursor: pointer;
}

.filter {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.bottom {
  border: 1px solid black;
}
.user-card {
  padding: 10px;
  border: 1px solid black;
}
